@font-face{
    font-family: 'Courier New';
    src: url("../font/cour.woff2"),
        url("../font/CourierNewPSMT.woff");
        font-weight: 400;
        font-display: swap;
        font-style: normal;
}
@font-face{
    font-family: 'Rajdhani';
    src: url("../font/Rajdhani.woff2"),
        url("../font/Rajdhani.woff");
        font-weight: 400;
        font-display: swap;
        font-style: normal;
}
@font-face{
    font-family: 'Rajdhanimedium';
    src: url("../font/Rajdhanimedium.woff2"),
        url("../font/Rajdhanimedium.woff");
        font-weight: 500;
        font-display: swap;
        font-style: normal;
}
@font-face{
    font-family: 'Rajdhanisemibold';
    src: url("../font/Rajdhanisemibold.woff2"),
        url("../font/Rajdhanisemibold.woff");
        font-weight: 600;
        font-display: swap;
        font-style: normal;
}
@font-face{
    font-family: 'Rajdhanibold';
    src: url("../font/Rajdhanibold.woff2"),
        url("../font/Rajdhanibold.woff");
        font-weight: 700;
        font-display: swap;
        font-style: normal;
}
body{
    margin: 0px;
    padding: 0px;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
#banner{
    height: 16px;
    background-color: #c5c5c5
}
.banner__paragraph{
    color: #ffffff;
    font-family: "Rajdhani";
    font-size: 12px;
    font-weight: 500;
    line-height: 15.49px;
    text-align: center;
    text-transform: uppercase;
}

/*First screen*/
h1{
color: #000000;
font-weight: 700;
font-size: 35px;
font-family: "Rajdhani";
font-weight: 500;
line-height: 41.54px;
text-align: center;
text-transform: uppercase;
margin-top: 76%;
}
.header1__span_first{
    font-family: "Rajdhani";
    font-weight: 700;
}
.header1__span_second{
    color: #000000;
    font-family: "Courier New";
    font-size: 23px;
    font-weight: 400;
    line-height: 27.8px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.29px;
}
.header1__span_second::before{
    content: "";
    width: 315px;
    height: 2px;
    display: block;
    background-color: #000000;
    margin:14px 0px 0px 15px
}
.header-link{
    width: 150px;
    height: 56px;
    border: 2px solid #393939;
    padding: 12px 30px;
    margin: 50px 0px 0px 0px;
    display: block;
}
.header-link__button{
color: #000000;
font-family: "Rajdhani";
font-size: 25px;
font-weight: 500;
line-height: 29.56px;
}
.header-link:hover{
    text-decoration: none;
    background-color: rgb(192, 184, 184);
    transition: 2s ease;
}


/* Styles slider header */
.slider__block{
    background: url("../img/Layer.jpg") no-repeat center top / cover ;
    height: 100vh;
    width: 100%;
    position: relative;
}
.slick-track,.slick-dots{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    
}
.slick-dots{
    position: absolute;
    bottom: 7px;
    left: 43%;
}
.slick-arrow{
    position: absolute;
    top: 50%;
    z-index: 1;
    font-size: 0;
    width: 50px;
    border: none;
    margin-top: -54px;
}
.slick-dots li{
    list-style: none;
    margin-right: 5px;
}
.slick-dots button{
    font-size: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid white;
    background: none;
   
}
.slick-active button{
    background-color: black;   
}
button:focus {
outline: 0px dotted;
}

/*Second section*/
.second-block,#footer{
    background-color: black;
    height: 60px;
}
.hamburger{
    width: 50px;
    height: 48px;
    background: white;
}
.second-block__header{
    color: #ffffff;
font-family: "Rajdhani";
font-size: 30px;
font-weight: 700;
letter-spacing: -1.5px;
margin: 14px 0px 14px 0px;
}
.second-block__paragraph{
    color: #ffffff;
    font-family: "Rajdhani";
    font-size: 26px;
    font-weight: 500;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    margin-top: 11px;
}
.fa-shopping-cart{
    color: white;
    margin-top: 10px;
}
.block-name__paragraph{
    color: #393939;
font-family: "Rajdhani";
font-size: 24px;
font-weight: 400;
text-transform: uppercase;
letter-spacing: 0.29px;
margin: 0px 0px 0px 0px;
}
.block-name__paragraph_one{
    margin-bottom: 20px;
}
.seta{
    margin-top: 6px;
}
.block-name{
    margin-top: 40px;
}

/*Second slider*/
.owl-carousel .owl-nav.disabled{
    display: block;
    font-size: 64px;
    color: gray;
}
.owl-prev{
    position: absolute;
    top: 26%;
    left: -8%;
}
.owl-next{
    position: absolute;
    top: 26%;
    right: -8%;
}

.item:hover .overlay{
    opacity: 1;
  }
.item{
    display: block;
    position: relative;
  }
  .overlay {
    position: absolute;
    top: 283px;
    left: 0;
    background: rgba(0,0,0,0.6);
    width: 99%;
    height: 28px;
    color: white;
    box-sizing: border-box;
    display: block;
    text-align: center;
    opacity: 0;
    transition: all 0.6s ease;
  }
  .overlay__link{
    color: #ffffff;
    font-family: "Rajdhani - Semibold";
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.94px;
  }
  .overlay__link:hover{
    text-decoration: none;
    color: rgb(192, 184, 184);
    transition: 1.5s ease;
  }
  .item__paragraph{
    text-align: center;
    font-family: "Rajdhani";
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.43px;
    margin: 0px;
  }

  /*Third section*/
  .divisoria{
      margin-top: 46px;  
  }
  .block-clothes__image{
      width: 100%;
      height: 100%;
      margin-top: 20px;
  }
  .item-third:hover .item-third__overlay ,.item-fourth:hover .item-fourth__overlay,.item-fifth:hover .item-fifth__overlay{
    opacity: 1;
  }
    .item-third,.item-fourth,.item-fifth{
    display: block;
    position: relative;
    margin-top: 40px;
  }
  .item-third__image{
    height: 447px;
  }
  .item-third__image_one{
    background: url(../img/Vector1_.jpg)
  }
  .item-third__image_two{
    background: url(../img/Layer\ 3.jpg)
  }
  .item-third__image_three{
    background: url(../img/Vector2.jpg)
  }
  .item-third__image_four{
    background: url(../img/Layer4.jpg)
  }
  .item-third__image_five{
      background: url(../img/Layer7.jpg);
  }
  .item-third__image_six{
      background: url(../img/Vector8.jpg);
  }
  .item-third__overlay,.item-fourth__overlay,.item-fifth__overlay {
    position: absolute;
    top: 0px;
    left: 0;
    background: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.6s ease;
  }
  .item-third__paragraph ,.item-fourth__span{
    text-shadow: 0 3px 0 #141518;
    color: #ffffff;
    font-family: "Rajdhanisemibold";
    font-size: 34px;
    text-transform: uppercase;
    letter-spacing: 1.22px;
    padding: 39% 0 0 0;
    text-align: center;
  }
 .item-third__paragraph_three{
     padding: 32% 0 0 0;
 }
 .item-third__paragraph_four{
     padding: 46% 0 0 0;
 }
 .item-third__paragraph_five{
     padding: 43% 0 0 0 ;
 }
 .item-third__paragraph_six{
     padding: 30% 0 0 0;
 }


 /*Section four*/
 .block-name_two,.block-form{
    margin: 75px 0px 0px 0px;
 }
 .item-fourth__image{
     height: 226px;
 }
 .item-fourth__image_one{
     background: url(../img/Layer\ 2.jpg) no-repeat center top / cover;
 }
 .item-fourth__image_two{
    background: url(../img/Layer\ 17.jpg)no-repeat center top / cover;
}
.item-fourth__image_three{
    background: url(../img/Layer\ 18.jpg)no-repeat center top / cover;
}
.item-fourth__image_four{
    background: url(../img/Layer\ 19.jpg)no-repeat center top / cover;
}
 .item-fourth__paragraph,.item-fifth__paragraph,.block-form__paragraph{
     color: white;
     text-align: center;
     font-family: "Rajdhanisemibold";
     font-size: 24px;
     font-weight: 400;
     letter-spacing: 0.29px;
     text-transform: uppercase;
 }
 .item-fourth__span_padding{
     padding: 26% 0 0 0;
 }

 /*Section five*/
 .block-name_three,#footer{
    margin: 55px 0px 0px 0px;
 }
 .item-fifth__image{
     height: 285px;
 }
 .item-fifth__image_one{
     background: url(../img/Layer\ 22.jpg);
 }
 .item-fifth__image_two{
    background: url(../img/Layer\ 23.jpg);
}
.item-fifth__image_three{
    background: url(../img/Layer\ 24.jpg);
}
.item-fifth__image_four{
    background: url(../img/Layer\ 25.jpg);
}
.item-fifth__paragraph_padding{
    padding: 50% 0 0 0 ;
}
.block-form__newsletter{
    background: url(../img/news.jpg) no-repeat center top / cover;
    height: 53px;
}
.block-form__paragraph_size{
    font-size: 19px;
    padding: 14px 0px 0px 0px;
}
.form__input{
    height: 54px;
    border: 2px solid #d0d0d0;
    background-color: #999999;
    width: 100%;
}
.form{
    display: flex;
}
.form__button{
    color: #393939;
font-family: "Rajdhanisemibold";
font-size: 19px;
width: 100%;
height: 51px;
box-shadow: 0 4px 0 rgba(20, 21, 24, 0.75);
background-color: #d0d0d0;
text-align: center;
text-transform: uppercase;
}
.footer-menu__link{
    font-family: "Rajdhani";
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.55px;
    text-transform: uppercase;
    color: white;
}
.footer-menu__link:hover{
    text-decoration: none;
    color: red;
}
.footer-menu{
    margin-top: 15px;
}
.footer-icons{
    margin-top: 14px;
}
.footer-icons__twitter{
    margin: 0px 5px 0px 5px;
}





/*Hamburger*/
.menu-block {
    position: relative;
    z-index: 2; 
    position: relative;
    height: 250px;
  }
  .menu-block__wrapper{
    z-index: 1;
    position: inherit;
  }
  .menu-block__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  }
  
  @media (min-width: 768px) {
    .menu-block__container {
        padding-left: 15px;
        padding-right: 15px;
    }
  }
  .menu-icon {
    z-index: 19;
    position: relative;
    display: none;
    width: 50px;
    height: 30px;
    cursor: pointer;
  }
  @media (min-width: 1200px) {
    .menu-icon {
        display: flex;
        justify-content: center;
        bottom: 22px;
    }
  }
  .menu-icon__line {
  position: relative;
  width: 100px;
  height: 5px;
  background-color: white;
  }
  .menu-icon__line::before {
  position: absolute;
  top: -10px;
  content: '';
  width: 50px;
  height: 5px;
  background-color: white;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  }
  .menu-icon__line::after {
  position: absolute;
  top: 10px;
  content: '';
  width: 50px;
  height: 5px;
  background-color: white;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  }
  .menu-icon.menu-icon-active .menu-icon__line {
  background-color: transparent;
  }
  .menu-icon.menu-icon-active .menu-icon__line::before {
  transform: rotate(45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  }
  .menu-icon.menu-icon-active .menu-icon__line::after {
  transform: rotate(-45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  }
  .hamburger {
    z-index: 9;
    display: block;
    position: absolute;
    right: -350px;
    top: 0;
    height: 100%;
    width: 350px;
    padding: 50px;
    background-color: black;
    
  }
  @media (min-width: 768px) {
    .hamburger {
        width: 334px;
        left: -22%;
        display: none;
    }
  }
  .hamburger--active {
    display: block;
  }
  .menu{
    margin: 15px 0px 0px 0px;
  }
  .menu__item{
      margin-bottom: 20px;
  }
  
  
  
  